
.dropdown {
    margin-bottom: 20px;
    width: 87%;
    max-width: 1600px;
}

.title {
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 15px;
    color : white;
    background-color:#FF6060;
    height: 47px;
    border-radius: 5px;
    padding-left: 15px ;
    padding-right: 30px;
    font-size: 24px;
    cursor: pointer;
}

.collapsible {
    border:#FF6060;
    background-color: #FF6060;
    color: white;
    font-size: 24px;
    padding-top: 7px;

}

.details {
    padding: 30px 15px 10px 15px ;
    background-color:#F6F6F6;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    border-radius: 0px 0px 5px 5px;
    line-height: 35px;
    margin-top: 0;
}

.fixed {
    height: 180px;
    font-size : 18px;
    line-height: 25px;
}

.details-show{
    padding: 5px 15px 5px 15px ;
    background-color:#F6F6F6;
    border-radius: 0px 0px 5px 5px;
}

.item {
    margin:0;
}


@media screen and (max-width: 600px) {
    .dropdown {
        width: 100%;
        padding: 0;
    }

    .title{
        font-size: 13px;
        height: 30px;
        padding-right: 15px;
    }

    .collapsible {
        font-size: 13px;
    }

    .details{
        font-size: 12px;
        line-height: 17px;
        padding-top: 15px
    }

}
