.banner {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    background-size: 100% ;
}

.banner-home {
    background-image: url(../../images/homeBanner.png);
    background-position: 25% 54%;
}

.banner-about {
    background-image: url(../../images/aboutBanner.png);
    background-position: 50% 55%;

}

@media screen and (max-width: 1024px) {

    .banner {
        width: auto;
        height: 111px;
        margin-bottom: 20px;

    }
}



