/*Modifier surligner sur la navigation, à ajouter uniquement si survol ou sur la page correspondante
Question : Margin en % pour un affichage responsive ou suivre données Figma en px ?? */


.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 75px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display : flex;
    justify-content: flex-end;
    align-items: center;
    width: 309px;
    height: 34px;
    color: #FF6060;
}

.kasa-logo {
    width: 210px;
    height: 68px;
}

a {
    padding-left: 52px;
    color: #FF6060;
    font-size: 24px;
    text-decoration: none;
}

.surligne {
    text-decoration: underline;
    text-decoration-color: #FF6060;;
}