.body-home {
    margin-left: 100px;
    margin-right: 100px;
}

.opacity {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 0;
    background-color: #0100023d;
}

.home-text {
    font-size: 48px;
    font-weight: 500;
    color:white;
}

.container {
    background-color: #F6F6F6;   
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    justify-content: space-between;
    padding : 50px;
    gap:25px;
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
    .body-home {
        margin-left: 20px;
        margin-right: 20px;
    }

    .opacity {
        justify-content: flex-start;
    }

    .home-text {
        font-size: 24px;
        padding-left: 16px;
        width: 200px;
    }

    .container {
        background-color: white;  
        flex-direction: column; 
        margin: 0;
        padding: 0 0 20px 0;
    }

}

