.collapse-section {
    display: flex;
    width: 100%;
    gap:25px
}

.body-logement {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -40px;
    color: #FF6060;
    display : flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif
}

.caroussel-section {
    Width : 100%;
    Height: 415px;
    border-radius: 25px;
    margin-bottom: 35px;
}

.section-information {
    display: flex;
}

.section-1 {
    display : flex; 
    flex-direction: column;
    width: 90%
}
.title-logement {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.location-logement {
    font-size: 18px;
    font-weight: 500;
}

.tags-logement {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.section-2 {
    display:flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.host-information {
    display: flex;
    justify-content: flex-end;
    height: 50%;
    align-items: center;
}

.host-name{
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;    
    width: 90px;
}

.host-picture {
    width:64px;
    height:64px;
    border-radius: 64px;
}

.rating {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-end;
    padding-top: 15px;
}

.rating-composition {
    display: flex;
}

@media screen and (max-width: 600px) {
    .body-logement {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0;

    }

    .caroussel-section {
        height: 255px;
    }


    .section-information{
        flex-direction: column;
    }

    .section-1{
        width:100%;
    }

    .title-logement {
        font-size: 18px;
    }

    .location-logement{
        font-size: 14px;
    }

    .section-2 {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top:15px;
        width: 100%;
    }

    .host-name{
        font-size: 12px;
        width: 60px;
    }

    .host-picture{
        height: 32px;
        width: 32px;
        border-radius: 20px;
        padding-left: 0;
    }


    .collapse-section{
        flex-direction: column;
        gap:0;
    }

    .rating{
        padding-top: 20px;
    }

    .rating-composition {
        padding-right: 8px;
    }
}

